h1{
	text-align: center;
	background-color: black;
	color: white;
}
.nav{
	background-color: black;
	border-radius: 20%;
	text-align: center;
	color: azure;
}
.item{

	display: inline;
	margin: 0 16px;
}
a{
	color: white;
}
.nav a:hover{
	border: 1px solid green;
	border-radius: 50%
	background-color: white;
	color: blue;
	padding: 2px;
}
.header{
	color: orange;
	font-family: sans-serif;
	margin: 4px;
}
.btn{
	border-radius: 50%;
	padding: 2px;
}
.label{
	margin: left;
}